body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e252c;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

header {
    background-color: #14181b;
    color: #b7c5df;
    padding: 1rem;
    text-align: center;
    position: relative;
}

.invisible {
    display: none;
}

.logo img {
    width: 300px; 
    height: auto; 
    margin-right: 1200px;
}

header p {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-top: -15px; 
}

.pagination {
    margin-left: 600px;
    margin-bottom: 20px;
}

.pagination a {
    color: #fff;
    background-color: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
}

.pagination a:hover {
    background-color: #0056b3;
}

.top-bar {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-bar a {
    color: #b7c5df;
    border-bottom: none;
    text-decoration: none;
    margin-right: 20px;
}

.top-bar a:hover {
    color: #007bff;
}

footer {
    background-color: #14181b; 
    color: #b7c5df;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

.container-directors {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    flex: 1;
}

.container-directors h1 {
    font-size: xx-large;
 }

.director-box {
    background-color: #232c35;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    color: #b7c5df;
    display: flex;
    align-items: center;
}

.director-box img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.director-info {
    flex: 1;
}

.intro-text {
    color: #b7c5df;
}

.pagination {
    text-align: center;
    margin-bottom: 30px;
    margin-left: 10px;
}

.pagination a {
    color: #fff;
    background-color: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #0056b3;
}

.search-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #b7c5df;
    cursor: pointer;
}

.search-icon:hover {
    color: #007bff;
}

.search-bar {
    margin-right: 20px;
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.search-bar i {
    margin-right: 8px;
}
