body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e252c;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

header {
    background-color: #14181b;
    color: #b7c5df;
    padding: 1rem;
    text-align: center;
    position: relative;
}

.logo img{
    width: 300px; 
    height: auto; 
    margin-right: 1200px;
}

header p {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-top: -15px;
}

.container-recommendation {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    flex: 1;
}

.recommendation-box {
    background-color: #232c35;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.recommendation-box h2 {
    margin-top: 0;
    color: #b7c5df;
}

.recommendation-box h2:hover {
    color: #007bff;
}

.recommendation-box a {
    text-decoration: none;
}

.movie-images img {
    width: 100px; 
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pagination {
    text-align: center;
    margin-bottom: 30px;
}

.pagination a {
    color: #fff;
    background-color: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
}

.pagination a:hover {
    background-color: #0056b3;
}

.top-bar {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-bar a {
    color: #b7c5df;
    border-bottom: none;
    text-decoration: none;
    margin-right: 20px;
}

.top-bar a:hover {
    color: #007bff;
}

footer {
    background-color: #14181b; 
    color: #b7c5df;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

.container-intro {
    background-color: #2c3840; 
    color: #b7c5df; 
    padding: 2rem; 
    text-align: center; 
}

.container-intro h1 {
    font-size: 2em; 
    margin-bottom: 1rem; 
}

.container-intro p {
    font-size: 1.2em; 
    line-height: 1.5; 
}

.search-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #b7c5df;
    cursor: pointer;
}

.search-icon:hover {
    color: #007bff;
}

.search-bar {
    margin-right: 20px;
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.search-bar i {
    margin-right: 8px;
}

