body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e252c;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #14181b;
    color: #b7c5df;
    padding: 1rem;
    text-align: center;
    position: relative;
}

.logo img {
    width: 300px;
    height: auto;
    margin-right: 1200px;
}

header p {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-top: -15px;
    width: -50px; 
    height: -40px; 
}

.top-bar {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-bar a {
    color: #b7c5df;
    border-bottom: none;
    text-decoration: none;
    margin-right: 20px;
}

.top-bar a:hover {
    color: #007bff;
}

.search-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #b7c5df;
    cursor: pointer;
}

.search-icon:hover {
    color: #007bff;
}

.search-bar {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.login-container {
    position: relative;
    display: inline-block;
    color: #b7c5df;
    cursor: pointer;
}

.login:hover {
    color: #007bff;
}

.login-popup {
    display: none;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    top: 30px;
    right: 0;
    background-color: #14181b;
}

.login-container:hover .login-popup {
    display: block;
    
}

.login-popup form {
    display: flex;
    flex-direction: column;
}

.login-popup label {
    margin-bottom: 5px;
}

.login-popup input[type="text"],
.login-popup input[type="password"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.login-popup input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-popup input[type="submit"]:hover {
    background-color: #0056b3;
}

.profile-card {
    background-color: #232c35;
    padding: 20px;
    border-radius: 5px;
    color: #b7c5df;
    text-align: center;
    margin-top: 50px;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #007bff;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.edit-icon i {
    color: #fff;
}

.profile-details {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.detail {
    margin-right: 20px;
}

.detail i {
    margin-right: 8px;
}

.edit-profile-btn button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

footer {
    background-color: #14181b;
    color: #b7c5df;
    text-align: center;
    padding: 1rem;
    width: 100%;
}
