/* Responsividade para dispositivos móveis */
@media screen and (max-width: 768px) {

    header {
        width: min-content;
        height: min-content;
    }

    .logo img {
        width: 180px;
        margin-right: 0; 
    }

    header p {
        font-size: smaller; /* Ajuste do tamanho da fonte */
        text-align: left; /* Centralizar o texto */
        margin-top: -60px; /* Ajuste da margem superior */
        padding: 50px;
    }

    .container {
        max-width: 100%;
        margin: 0;
        padding: 1rem;
    }

    .recommendation-box {
        padding: 15px;
        margin-top: 15px;
        width: 100%;
        margin-left: 13px;
    }

    .recommendation-box h2 {
        font-size: 1.5em; /* Tamanho do cabeçalho */
    }

    .movie-images img {
        width: 60px; /* Reduzir o tamanho das imagens */
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .genre-list {
        display: none;
    }

    .top-bar {
        flex-direction:row ; /* Alterar a direção do flex para empilhar verticalmente */
        padding: 0 0;
        margin-top: -50px;
    }

    .top-bar a {
        display: flex; 
        margin: 10px 4px;
        white-space: nowrap;
    }

    footer {
        padding: 1.5rem;
    }

    .search-icon,
    .search-bar {
        display: none; /* Oculta os elementos de busca em telas menores que 768px */
    }

    .imgcel {
        display: none;
    }

    .container-intro {
        width: 97%;
    }

    .profile-card {
    background-color: #232c35;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    color: #b7c5df;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px; /* Altere o valor para ajustar o espaço abaixo do perfil */
    }

    .profile-image img {
        width: 120px;
        height: 120px;
        margin-bottom: 15px;
    }

    .edit-icon {
        top: 41%;
        transform: translate(25%, -50%);
    }

    .profile-details {
        flex-direction: column;
        align-items: center;
    }

    .detail {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .edit-profile-btn button {
        margin-top: 15px;
    }

    .signup-form {
        margin-bottom: 120px;
        margin-top: 100px;
        margin-left: 90px;
    }

    .about-section {
        margin-left: 50px;
    }

    .container-genre {
        width: 98%;
    }

}

