@media screen and (max-width: 768px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #1e252c;
    }

    body, html {
        margin: 0;
        padding: 0;
    }
    
    .wrapper {
        display: inline-block;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
    }
    
    header {
        background-color: #14181b;
        color: #b7c5df;
        padding: 1rem;
        text-align: center;
        position: relative;
    }
    
    .logo img {
        width: 100px;
        height: auto;
    }
    
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
        flex: 1;
        margin-top: 0;
    }
    
    .movie-list li {
        margin-bottom: 1rem;
        background-color: #232c35;
        padding: 1rem;
        border-radius: 5px;
    }
    
    .movie-images img {
        width: 50px;
        height: auto;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    
    .recommendation-box {
        background-color: #232c35;
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
        color: #b7c5df;
    }
    
    .genre-list {
        display: none;
    }
    
    .top-bar {
        padding: 10px;
        display: inline-block;
        justify-content: flex-end;
        align-items: center;
    }
    
    .login-container {
        position: relative;
        display: inline-block;
        color: #b7c5df;
        cursor: pointer;
    }
    
    .login-popup {
        display: none;
        position: absolute;
        padding: 10px;
        border-radius: 5px;
        top: 30px;
        right: 0;
        background-color: #14181b;
    }
    
    footer {
        background-color: #14181b;
        color: #b7c5df;
        text-align: center;
        padding: 1rem;
        width: 100%;
    }
    
    .search-icon {
        display: none;
        font-size: 24px;
        margin-right: 10px;
        color: #b7c5df;
        cursor: pointer;
    }
    
    .search-bar {
        display: none;
        width: 150px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        color: #333;
    }

    .pagination {
        margin-left: 10%; 
        margin-bottom: 10px; 
        display: inline-block;
        justify-content: center; 
    }
    
    .pagination a {
        color: #fff;
        background-color: #007bff;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
        margin-right: 5px; 
    }
    
    .pagination a:hover {
        background-color: #0056b3;
    }

    .profile-card {
        margin-top: 20px;
        padding: 10px;
    }

    .profile-image img {
        width: 120px;
        height: 120px;
        margin-bottom: 10px;
    }

    .edit-icon {
        bottom: 10px; 
        left: 50%;
        transform: translateX(-50%);
        background-color: #007bff;
        border-radius: 50%; 
        padding: 5px; 
    }
    

    .profile-details {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }

    .detail {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .edit-profile-btn button {
        margin-top: 15px;
    }
}
    
