body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e252c;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

header {
    background-color: #14181b;
    color: #b7c5df;
    padding: 1rem;
    text-align: center;
    position: relative;
}

.invisible {
    display: none;
}

.logo img{
    width: 300px; 
    height: auto; 
    margin-right: 1200px;
}

header p {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-top: -15px;
}

.top-bar {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-bar a {
    color: #b7c5df;
    border-bottom: none;
    text-decoration: none;
    margin-right: 20px;
}

.top-bar a:hover {
    color: #007bff;
}

footer {
    background-color: #14181b; 
    color: #b7c5df;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

.search-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #b7c5df;
    cursor: pointer;
}

.search-icon:hover {
    color: #007bff;
}

.search-bar {
    margin-right: 20px;
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.search-bar i {
    margin-right: 8px;
}

.about-section {
    background-color: #232c35;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px; /* Adicionando bordas arredondadas */
    color: #b7c5df;
    max-width: 700px; /* Define uma largura máxima para a seção */
    margin-left: auto; /* Alinha à esquerda */
    margin-right: auto; /* Alinha à direita */
}

.about-section h2 {
    margin-top: 0;
}

.about-section p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.6;
}

