body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e252c;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #14181b;
    color: #b7c5df;
    padding: 1rem;
    text-align: center;
    position: relative;
}

.logo img{
    width: 300px; 
    height: auto; 
    margin-right: 1200px;
}

header p {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-top: -15px;
    width: -50px; 
    height: -40px; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: -382px;
    margin-right: 120px;
    padding: 2rem;
    flex: 1;
}

.movie-list {
    list-style: none;
    padding: 0;
}

.movie-list li {
    margin-bottom: 1rem;
    background-color: #232c35;
    padding: 1rem;
    border-radius: 5px;
}

.movie-list li h3 {
    margin: 0;
}

.movie-list li p {
    margin-top: 0.5rem;
}

.recommendation-box {
    background-color: #232c35;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    color: #b7c5df;
}

.recommendation-box h2 {
    margin-top: 0;
}

.movie-images img {
    width: 100px; 
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

.recommendation-box p {
    margin-top: 10px;
}

.recommendation-box a {
    text-decoration: none;
    color: #007bff;
}

.genre-list {
    width: 200px;
    padding: 20px;
    margin-top: -370px;
    background-color: #232c35;
    border-radius: 5px;
    margin-bottom: 0; 
}

.genre-list h2 {
    font-size: 18px;
    color: #b7c5df;
    margin-bottom: 10px;
}

.genre-list ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}

.genre-list li {
    margin-bottom: 8px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.genre-list li:last-child {
    border-bottom: none;
}

.genre-list li a {
    text-decoration: none;
    color: #b7c5df;
    font-weight: bold;
}

.genre-list li a:hover {
    color: #007bff;
}

.top-bar {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-bar a {
    color: #b7c5df;
    border-bottom: none;
    text-decoration: none;
    margin-right: 20px;
}

.top-bar a:hover {
    color: #007bff;
}

.login-container {
    position: relative;
    display: inline-block;
    color: #b7c5df;
    cursor: pointer;
}

.login:hover {
    color: #007bff;
}

.login-popup {
    display: none;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    top: 30px;
    right: 0;
    background-color: #14181b;
}

.login-container:hover .login-popup {
    display: block;
    
}

.login-popup form {
    display: flex;
    flex-direction: column;
}

.login-popup label {
    margin-bottom: 5px;
}

.login-popup input[type="text"],
.login-popup input[type="password"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.login-popup input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-popup input[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    background-color: #14181b; 
    color: #b7c5df;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

.search-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #b7c5df;
    cursor: pointer;
}

.search-icon:hover {
    color: #007bff;
}

.search-bar {
    margin-right: 20px;
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.search-bar i {
    margin-right: 8px;
}

